


.Dictionary-section {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 50;
}


.modal {
    display: flex;
}

.Dictionary-container {
    width: 50%;
    height: 60%;
    background-color: var(--main-secundary-color);
    border: 2px dashed var(--main-quaternary-color);
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
}

.Dictionary-header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.Dictionary-title {
    margin: 0;
}

.Dictionary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    border-top: 1px solid var(--main-terciary-color);
    padding: 5%;
}

.Dictionary-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}

.Dictionary-search-box > input {
    margin-right: 10px;
    margin-bottom: 0;
}

.Dictionary-search-box > button {
    margin: 0;
}

.Dictionary-result {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.Dictionary-result-search {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    background-color: var(--main-terciary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.Dictionary-result-search > p {
    text-decoration: underline;
}

