

.Chat-section {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 5;
}

.Chat-container {

    width: 50%;
    height: 70%;
    background-color: var(--main-secundary-color);
    border: 2px dashed var(--main-quaternary-color);
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
}

.Chat-exit {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.Chat-exit-button {
    cursor: pointer;
    margin: 0;
    max-height: 100%;
}

.Chat-title {
    margin: 0;
}

.Chat-content {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    border-top: 1px solid var(--main-terciary-color);
}

.Chat-conversation {
    width: 0;
    height: 100%;
    max-height: fit-content;
    border-left: 1px solid var(--main-terciary-color);
    overflow-x: hidden;
}

.Chat-friends {

    width: 100%;
    height: 100%;
    border-left: 1px solid var(--main-terciary-color);
    overflow-x: hidden;
}

.Chat-friends-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: var(--main-terciary-color);
}

.Chat-friends-title > h4 {
    margin: 0;
}

.Chat-friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    overflow: auto;
    overflow-y: hidden;
}

.Chat-message {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Chat-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Chat-search-content {

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--main-terciary-color);
}

.Chat-search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    border-radius: 5px;
}

.Chat-search-box-img {
    width: 5%;
    margin-right: 20px;
    margin-left: 10px;
    min-width: 20px;
}

.Chat-search-box-img-switch {
    width: 2%;
    margin-right: 20px;
    margin-left: 10px;
    min-width: 10px;
    cursor: pointer;
}

.Chat-search-input {
    margin: 0;
}

.Chat-search-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.Chat-search-users {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--main-terciary-color);
    width: 100%;
    height: 13%;
    min-height: 60px;
    padding: 1%;
    cursor: pointer;
}



.Chat-search-users-img {

    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--main-primary-border-decoration);
    overflow: hidden;
}

.Chat-search-users-img > img {
    width: 100%;
    height: 100%;
}

.Chat-search-result {

    height: 85%;
    width: 100%;

}

.Chat-friends-users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--main-primary-border-decoration);
    padding: 1%;
    overflow: hidden;
    width: 100%;
    height: 20%;
    cursor: pointer;
    position: relative;
}

.Chat-friends-content > p {
    margin: 0;
}

.Chat-friends-img {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid var(--main-primary-border-decoration);
    overflow: hidden;
    min-width: 50px;
    max-width: 60px;
    max-height: 50px;
}

@keyframes blob {
    from {
        transform: translateX(0) scale(0.6);
    }
  
    to {
        transform: translate(0, 0px) scale(1.2)
    }
  }


.notification {
    
    animation: blob 0.3s;
    animation-timing-function: ease-in-out;
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    margin: 20px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification::after {
    position: absolute;
    background-color: white;
    width: 7px;
    height: 7px;
}

.Chat-friends-img > img {
    width: 100%;
    height: 100%;
}

.modal {

    display: flex;

}
