

.Chat-section {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;

}

.Chat-container {

    width: 60%;
    height: 60%;
    background-color: #f4f5f6;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.Chat-exit {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Chat-exit-button {
    cursor: pointer;
    margin: 0;
    margin-right: 10px;
    max-height: 100%;
}

.Chat-title {
    margin: 0;
}

.Chat-content {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    border-top: 1px solid #d1d1d1;
}

.Chat-conversation {
    width: 70%;
    height: 100%;
    max-height: fit-content;
    border-left: 1px solid #d1d1d1;
}

.Chat-friends {

    width: 30%;
    height: 100%;
}

.Chat-friends-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: #d1d1d1;
}

.Chat-friends-title > h4 {
    margin: 0;
}

.Chat-friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
}

.Chat-message {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Chat-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Chat-search-content {

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d1d1d1;
}

.Chat-search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    border-radius: 5px;
}

.Chat-search-box-img {
    width: 5%;
    margin-right: 20px;
    margin-left: 10px;
    
}

.Chat-search-input {
    margin: 0;
}

.Chat-search-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.Chat-search-users {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d1d1d1;

}



.Chat-search-users-img {

    width: 10%;
    margin-right: 10px;
}

.Chat-search-result {

    height: 85%;
    width: 100%;

}

.Chat-friends-users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d1d1d1;
    padding: 5%;
}

.Chat-friends-content > p {
    margin: 0;
}

.Chat-friends-img {
    width: 20%;
    margin-right: 10px;
}

.modal {

    display: flex;

}