.LoginRegister-Section {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--main-primary-color);
}

.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20%;
    margin-bottom: 10px;
}

.Logo > img {
    width: 60%;
    min-width: 150px;
}

.Logo > h1::first-letter {
    color: var(--main-quaternary-color);
    font-weight: bold;
}

.Logo > h1 > p::first-letter{
    color: var(--main-quaternary-color);
    font-weight: bold;
}

.LoginRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid var(--main-secundary-color);
    background-color: var(--main-secundary-color);
    border-radius: 25px;
    min-width: 370px;
    min-height: 300px;
    max-height: 600px;
    padding: 3%;
    transition: 0.05s;
}

.register-state {
  height: 65%;
}

.login-state {
  height: 40%;
}

.LoginRegister-credentials-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.LoginRegister-credentials-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}


.LoginRegister-credentials-item > blockquote {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.LoginRegister-credentials-item> input {
    margin-bottom: 10px;
}

.LoginRegister-credentials-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
}



.LoginRegister-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 20%;
}

.LoginRegister-switch-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 10px;
}

.LoginRegister-switch-text > a {
    cursor: pointer;
    text-align: center;
    margin-left: 3px;
    text-decoration: underline;
}


.LoginRegister-Credentials > blockquote {
    font-size: 12px;
}

@media (max-width : 1025px)  {

    .LoginRegister-Section {
        flex-direction: column;
        font-size: 12px;
        text-align: center;
      }
    
      .LoginRegister-credentials-register {
        font-size: 10px;
        height: 80%;
      }

      .LoginRegister-credentials-login {
        justify-content: center;
      }

      .Logo > h1  {
        font-size: 25px;
      }

      .LoginRegister-credentials-item > label {
        font-size: 10px;
      }

      .LoginRegister-credentials-item {
        height: 17%;
      }

      .LoginRegister-credentials-item > blockquote {
        font-size: 10px;
        margin: 0;
      }

      .Logo > img {
        max-width: 200px;
      }

}