html, body, #root {

    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
    background-color: var(--main-secundary-color);
    color: var(--main-text-color)
}

:root {
  --main-primary-color: #1C2128;
  --main-secundary-color: #22272e;
  --main-terciary-color: #2d333b;
  --main-quaternary-color: #9b4dca;
  --main-notification-index: #347D39;
  --main-notification-event: #E34C26;
  --main-text-color: #AEB6BA;
  --main-primary-border-decoration: #444c56;
}

button, select, input, input[type='number'], input[type='text'], input[type='time'], input[type='email'], input[type='password'], input[type='datetime-local'], .button {
  background-color: var(--main-terciary-color);
  color: var(--main-text-color);
  border: var(--main-terciary-color);
  border: 2px solid var(--main-primary-border-decoration);
  outline: 0;
}

input:-webkit-autofill { 
  
  -webkit-box-shadow:0 0 0 50px var(--main-terciary-color) inset; 
  -webkit-text-fill-color: var(--main-text-color); 
} 
  
input:-webkit-autofill:focus { 
  -webkit-box-shadow: 0 0 0 50px var(--main-terciary-color) inset; 
  -webkit-text-fill-color: var(--main-text-color); 
} 

p {
  color: var(--main-text-color);
}

blockquote {
  border-left: 0.3rem solid var(--main-quaternary-color);
}


.button-black {
    background-color: black;
    border-color: black;
  }
  .button-black.button-clear,
  .button-black.button-outline {
    background-color: transparent;
    color: black;
  }
  .button-black.button-clear {
    border-color: transparent;
  }

.button-classroom {
  color: #0078FD;
  border-color: #0078FD;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}

input[type='time'] {
  -webkit-appearance: none;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1rem 0.7rem;
  width: 100%;
}

input[type='time']:focus {
  border: 1px solid var(--main-quaternary-color);
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--main-secundary-color);
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--main-terciary-color);
}

*::-webkit-scrollbar-thumb
{
	background-color: var(--main-quaternary-color);
}

blockquote {
  max-height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  padding-left: 10px;
 
}

p {
  margin:0;
}

