.TopBar-section {

    top: 0;
    height: 10%;
    background-color: #f4f5f6;
    border-bottom: 0.1rem solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.TopBar-icons {

    width: 2%;
    cursor: pointer;
    min-width: 40px;

}

.TopBar-user-intereration {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TopBar-perfil {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.TopBar-perfil-credentials > p {
    margin: 0;
    margin-left: 10px;
}

.TopBar-perfil-img {
    width: 15%;
    min-width: 40px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    overflow: hidden;
}


.TopBar-perfil > img {

    width: 100%;

}

.TopBar-tools {
    width: 30%;
    height: 80%;
    background-color: #e2e2e2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopBar-tools > img {
    width: 10%;
    min-width: 40px;
}