
.Modal-section {
    position: fixed;
    width: 30%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow-y: hidden;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    border: 1px solid black;
    border-radius: 5px;
}

@keyframes slidein {
    from {
        transform: translate(0, -100px)
    }
  
    to {
        transform: translate(0, 0px)
    }
  }

